/** HEADER **/
#header-nav {
	background-color: #F7F7F0;
	border-radius: 0; 
	border:  0;
	height: 80px; 
}

.navbar-brand {
	padding-top: 25px;	
}

.navbar-brand h1{ /* Resturant name */
font-family:  'Lora', serif;
color: #1473B1;
font-size:  1em;
font-weight: bold;
text-shadow:  1px 1px 1px #222;
margin-top: 0;
 }


h3 {
  text-align: center;
  font-size: 1.5em;
}

 h1 {
text-align: left;
}

.navbar-brand a:hover, .navber-brand a:focus {
  text-decoration: none;
}



 }
.logo-img-box{
width:  100px;
height:  100%;
}

 #logo-img {
 	background:  url('C:/Users/seala/OneDrive/Documents/Coursera Web Dev/Peer graded Assingments/Module 3/images/minimalist-food-logo.png') no-repeat;
 	width:  83px;
 	height:  89px;
 	margin:  10px 15px 10px 0;
 }


 .menu-header {
font-family:  'Lora', serif;
color: #1473B1;
font-size:  1.5em;
font-weight: bold;
text-shadow:  1px 1px 1px #222;
margin-top: 0;
text-align: center;
 }


.item {
  padding: 10px;
  border: 1px solid black;
  background-color: #943d24;
  width: auto;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

#nav-list li a {
  color: #943d24;
  background-color: #fffbf0;
  font-weight: 600;
  line-height: 8px;
  border: 1px solid black;
}


